.container {
    padding: 20px 0;

}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    border: 1px solid #b2b2b2;
    padding: 7px;
    border-radius: 2px;
    cursor: pointer;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
    &:hover {
        transform: scale(1.005);
        box-shadow: 3px 3px 6px #00000052;
        // box-shadow: 5px 5px 13px #00000052;
    }
}