.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    input {
        padding: 5px;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}

.send {
    margin-top: 20px;
    border: 1px solid #e2e2e2;
    padding: 10px;
}

.descr {
    text-align: center;
    margin-bottom: 20px;
    color: #9d9d9d;
}