
@import './normalize.css';

:root {
  --color: #909090
}

html {
  width: 100%;
  max-width: 100%;
}

body {
  margin: 0;
  /* font-family: 'PT+Sans'; */
  color: var(--color);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1, h2 {
  margin: 0 auto;
  padding: 7px 25px;
  max-width: 60%;
  background-color: #f3e8d9;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;

}

p, a {
  margin: 0;
  font-size: 16px;
  color: var(--color);
}

a, button {
  transition: color .3s ease-in-out;
  &:hover {
    color: #4e4e4e
  }
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  transition: all .3s ease-in-out;
  background: #ffffff;
  border: none;
  color: var(--color);
  padding: 0;
  font-size: 18px;
}

.section {
  padding: 30px 0 60px 0;
  display: flex;
  flex-direction: column;
}

.text {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  padding: 0 20px;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.rotate {
  transform: rotate(180deg);
}