.text {
    margin-bottom: 30px;
}

.card_container {
    margin: 0 5px;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
    cursor: pointer;
    p {
        text-align: center;
    }
}

.slider {
    padding: 0 15px;
}
